<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title | default: "JavaScript – Muehlespiel | Nikolaus Dulgeridis" }}</title>
  <meta name="description" content="Computerthemen, JavaScript-Mühlespiel">
  <meta name="keywords" content="Nikolaus Dulgeridis, Computerthemen, JavaScript, Mühle, Morris">
  <meta name="description" content="Muehle, Mills (Nine Men's Morris) online game. Beginners and enthusiasts. Non commercial" />
  <meta name="keywords" content="Computerthemen, Unterhaltung, Linux, Javascript" />
  <meta name="author" content="Nikolaus Dulgeridis" />
  <meta name="robots" content="index,follow" />


  <link rel="shortcut icon" type="image/x-icon"
        href="data:image/x-icon;base64,AAABAAEAEBACAAEAAQCwAAAAFgAAACgAAAAQAAAAIAAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AP//AAAAAQAAfv0AAEAFAABe9QAAXvUAAFg1AABbtQAAA4EAAFu1AABYNQAAXvUAAF71AABABQAAfv0AAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA">

  <link rel="icon" type="image/x-icon"
        href="data:image/x-icon;base64,AAABAAEAEBACAAEAAQCwAAAAFgAAACgAAAAQAAAAIAAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AP//AAAAAQAAfv0AAEAFAABe9QAAXvUAAFg1AABbtQAAA4EAAFu1AABYNQAAXvUAAF71AABABQAAfv0AAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA">


<link rel="alternate" hreflang="de" href="/de/">
<link rel="alternate" hreflang="en" href="/en/">
<link rel="alternate" hreflang="x-default" href="/">

</head>

<body>
    {% include navbar-git.html %}

    <main>
        {{ content }}
    </main>
    
    <footer>

<span class="reverse-email" style="color: silver;">
  moc.liamg@sidiregludsualokin
</span>

<style>
.reverse-email {
  unicode-bidi: bidi-override;
  direction: rtl;
}
</style>


    </footer>
</body>
</html>
